<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="defaultConection" connectionString="Data Source=USER-PC\DEN_SQLEXPRESS;Initial Catalog=Warehouse;
			 User ID=sa;Password=********;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;
			 ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>